WcfClient/Connected Services/StudentOperationReference/StudentOperationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58794/StudentOperationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfIsnpectorService" />
  <xs:element name="GetStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfIsnpectorService" minOccurs="0" name="student" nillable="true" type="q1:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfIsnpectorService" minOccurs="0" name="GetStudentResult" nillable="true" type="q2:Student" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>